#login,
#register {
  border: 1px solid #363636;
  border-radius: 20px;
  background-color: #121212;
  color: aliceblue;
  padding: 1.5em 2em;
  max-width: 500px;
  min-width: 33%;
  margin: 2em auto;
}

#login h2,
#register h2 {
  font-family: "Angkor";
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
  color: #ff7904;
  font-weight: lighter;
  margin-top: 0;
}

.subtitle {
  font-weight: bold;
  color: #fdffff;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}

#login form,
#register form {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #363636;
}

#login p,
#register p {
  text-align: center;
}

#login p a,
#register p a {
  font-weight: bold;
  color: #0094f6;
}
