.message {
  position: fixed;
  bottom: 3rem;
  z-index: 3001;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .message {
    width: 80%;
    text-align: center;
  }
}

.error {
  background-color: #e74c3c;
  border: 2px solid #5a171d;
}

.success {
  background-color: #27ae60;
  border: 2px solid #155724;
}
