.navbar {
  background-color: #121212;
  padding: 10px;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

span img {
  max-width: 300px;
  height: 25px;
  padding: 10px;
  transition: 0.3s;
}

span img:hover {
  scale: 1.1;
}

.navbar-auth {
  display: flex;
  gap: 20px;
}

.navbar-auth a,
span {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.navbar-auth a:hover,
span:hover {
  color: #ff7904;
}

@media (max-width: 590px) {
  .navbar-container {
    flex-direction: column; /* Empilha os itens verticalmente */
    text-align: center;
  }

  span img {
    margin-bottom: 0; /* Espaço entre o logo e os links */
  }

  .navbar-auth {
    flex-direction: column; /* Empilha os links verticalmente */
    gap: 10px; /* Reduz o espaço entre os links */
  }

  .navbar-auth a {
    display: block; /* Garante que cada link ocupe uma linha */
    padding: 5px 0;
  }

  /* Garante que o fundo da navbar se estenda */
  .navbar {
    width: 100%;
    position: relative; /* Evita que o fundo seja cortado */
  }
}
