body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #fafafa;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1em;
  font-weight: bold;
}

input {
  background-color: #3b3b3b;
  color: #aaa;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px 4px;
  outline: none;
  width: 350px;
}

input::placeholder {
  color: #aaa;
}

.btn,
button,
input[type="submit"] {
  background-color: #313131;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #fafafa;
}

a:hover {
  color: rgb(5, 112, 14);
}
